body {
    font-family: "Montserrat", sans-serif;
    background-color: white;
}
.banner img {
    width: 100%;
}
.choise-category img {
    height: 100px;
}

.choise-category .card {
    border-radius: 15px;
}
.choise-product .card {
    border-radius: 7px;
}
.breadcrumb {
    background-color: transparent;
    padding: 0;
}

.breadcrumb a {
    text-decoration: none;
}
.breadcrumb a:hover {
    text-decoration: none;
}
.breadcrumb .active {
    font-weight: 600;
}
